#calculator{
  border: 1px solid rgb(150, 147, 147);
  border-radius: 5px;
  width: 250px;
 background: linear-gradient(rgb(40, 45, 51));
 

}
#display{
  width: 220px;
  margin: 10px;
  font-size: 30px;
  outline-color: rgb(141, 138, 138);
  border: none;
}
#btn_container{
  display: flex;
 justify-content: center;
 flex-wrap: wrap;
 
}
.btn{
  width: 55px;
  height: 50px;
  margin: 4px;
background-color: rgb(70, 85, 85);
color: white;
font-weight: bold;
font-size: larger;
box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}
h1{
  text-align: center;

}